doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
    title= 'Atomatic | ' + description + ' | ' + version

    style(type="text/css").
      body {height:100vh; width: 100vw; overflow:hidden}

    include inlineFonts

    link(href="./css/app.css", rel="stylesheet")

  body
    #viewer.dsc-layout
      layout-off-canvas(description= description, version= version)
      layout-canvas

    script(type="text/javascript", src="./scripts/app.js")