each version in versions
  .dsc-grid.dsc-grid--padding.dsc-grid--wrap.dsc-grid--equal-height
    each combination in version.combinations
      .dsc-grid__item
        .dsc-card
          .dsc-card__body!= combination.source
          if combination.modifierClass
            .dsc-card__footer= combination.block + ' + ' + combination.modifierClass
          else if pageTitle != combination.block
            .dsc-card__footer= combination.block
