.dsc-grid.dsc-grid--cards
  if icons
    each icon, filename in icons
      .dsc-grid__item
        .dsc-card
          .dsc-card__figure
            .dsc-icon-block!= icon
          .dsc-card__footer= filename
