.dsc-card
  .dsc-card__head
    .dsc-grid.dsc-grid--center.dsc-grid--space-between
      .dsc-grid__item.dsc-grid__item--auto.dsc-grid__item--grow {{file.title}}
      .dsc-grid__item.dsc-grid__item--auto
        .dsc-grid.dsc-grid--center

          .dsc-grid__item.dsc-grid__item--auto(
          v-for="(value, key) in file.asyncContentUrls"
          :class="'dsc-grid__item--'+ key"
          )
            button.dsc-button.dsc-button--plain.dsc-button--small(
            @click="setSourceType(key)",
            :class="{'dsc-button--selected': sourceType === key}")
              | {{ getSourceTitle(key) }}

          .dsc-grid__item.dsc-grid__item--auto.dsc-grid__item--padding.dsc-grid__item--link
            a.dsc-button.dsc-button--plain.dsc-button--small(
            :href="file.fileUrl",
            target="file.fileUrl")
              include ../../../svg/launch.svg

  .dsc-card__figure(
  v-if="sourceType")
    source-code(
    :language="language",
    :sourceCode="sourceCode")

  .dsc-card__body.dsc-card__body--transparent(v-else)
    self-adjusting-iframe(
    :url="file.fileUrl",
    :modifierClass="modifierClass")
