.button
  padding .15em .5em
  font-weight 400
  border-radius $borderRadiusDefault
  svg
    height 1em
    width @height
  &&--small
    font-size .75rem
  &&--selected
    background $colorText
    color $colorTextInvert