.button
  padding 2.5px 8px
  font-weight 500
  border-radius $borderRadiusDefault
  position relative
  svg
    height 16px
    width @height
    position absolute
    top 48%
    left 50%
    transform translate(-50%, -50%)
  &&--small
    font-size 12px
  &&--selected
    background $colorText
    color $colorTextInvert
  &&--icon
      width 16px