.card
  overflow hidden
  box-shadow $shadowBoxDefault
  border-radius $borderRadiusDefault
  background-color $colorBackgroundDefault
  display flex
  flex-flow column
  width 100%
  & &
    border-radius none
    box-shadow none
  & + &
    margin-top ($paddingSmall * 2)

  &__head
    background $colorBackgroundInvert
    font-size 1.3em
    font-weight 300

  &__head
  &__body
  &__footer
    padding $paddingNormal $paddingLarge

  &__body
    flex-grow 2

  &__footer
    font-size .8em

  &__figure
  &__body
    overflow hidden
    &&--transparent
      background-image url($transparentBackground)
      background-size 20px
      background-position 0 0
      background-color $hexPorcelain
