.icons
  white-space nowrap
  svg
    padding .25em
    box-sizing content-box
    *:not([fill="none"])
      fill $colorText
  &&--14pxx14px
    svg
      width 14px
      height @width
  &&--16pxx16px
    svg
      width 16px
      height @width
  &&--18pxx18px
    svg
      width 18px
      height @width