.iframe
  width 100%
  transition all $timingFast ease-in-out $timingFast
  background transparent
  &&--components
    box-shadow 0 0 0 20px rgba(0,0,0,.1)

.html-style
.html-icons
  background transparent!important
