.html-styles
.html-icons
  &
  body
    background transparent

[v-cloak]
  display none!important

.h1
.h2
.h3
.h4
  margin-bottom .5em
  &:last-child
    margin-bottom 0

.h1
  font-weight 300
  font-size 2rem
.h2
  font-size 1.25rem
.h3
  font-weight 600
  font-size 1.1rem
.h4
  font-weight 600
  font-size 1rem

.small
  font-size .8em

.devider
  height 1px
  background $borderColorDefault
