.section
  & + &
    margin-top $paddingLarge

  &__head
    padding $paddingLayout $paddingLayout
    border-bottom $borderDefault
    font-size 1.175rem
    font-weight 500

  &__body
    padding $paddingLayout

    &&--iframe
      padding 0
      overflow hidden
      width 100%
      height 300px