@import "highlightjs/monokai-sublime.css"

.source-code
  font-size 14px
  font-weight 500
  position relative
  word-break break-all

  &__title
    position absolute
    right $paddingNormal
    top $paddingNormal
    background $hexDustGray
    z-index 2
    padding 0 4px
    font-size 19px
    font-family $paddingNormal