.dsc-layout__canvas
  .dsc-main-container(
  v-if="modifierClass === 'components' || modifierClass === 'patterns'",
  v-persist-scroll-pos="",
  :class="'dsc-main-container--'+modifierClass")
    .dsc-main-container__head {{pageTitle}}
    .dsc-main-container__body

      component-card(v-for="(file, index) in files",
      :file="file",
      :index="index",
      :modifierClass="modifierClass")

  iframe.dsc-main-iframe(
  v-else,
  :src="files[0].fileUrl",
  :class="'dsc-main-iframe--'+modifierClass")
