li.dsc-nav__list-item(v-if="isParentItem()")
  span(
  @click="toggle()",
  :class="classObject"
  ) {{ item.title }}
    span.dsc-nav__link-icon
      include ../../../svg/angle-down.svg

  menu-list(
  v-if="activeState === true",
  :items="item.urls",
  :level="level+1"
  )

li.dsc-nav__list-item(v-else)
  a(:href="'#'+getResolvedUrl()",
  @click="setUrl()",
  :class="classObject"
  ) {{ item.title }}
