.dsc-card
  .dsc-card__head  Headings
  .dsc-card__body
    h1 This is a styled heading 1
    h2 This is a styled heading 2
    h3 This is a styled heading 3
    h4 This is a styled heading 4
    h5 This is a styled heading 5
    h6 This is a styled heading 6

.dsc-card
  .dsc-card__head  Paragraphs
  .dsc-card__body
    p.
      Pellentesque quis nisl lacinia, feugiat erat id, ultricies odio.
      Ut non diam eget lacus aliquam consequat ut et ex. Donec eget elit
      vel velit placerat hendrerit in nec nunc. Mauris luctus luctus ante.
    p.
      Pellentesque egestas bibendum risus, ullamcorper consequat lectus consectetur
      id. Donec eget diam eget est aliquam imperdiet.
    p.
      Cras sed mauris nisl. Fusce elementum diam mi, eu bibendum ligula scelerisque
      id. Morbi pulvinar hendrerit consectetur? Donec et ligula eget sapien
      sollicitudin varius eu nec sem.

.dsc-card
  .dsc-card__head  Lists
  .dsc-card__body
    ul
      li Nullam ultricies tempor.
      li Morbi lacus mi, cursus tincidunt augue vitae, porta.
        ul
          li Donec semper sem.
          li Praesent faucibus porta turpis
    li Nam vitae turpis interdum, ultricies.
    li Nullam sit amet massa vitae massa accumsan iaculis.
  .dsc-section__body
    ol
      li Nullam ultricies tempor.
      li Morbi lacus mi, cursus tincidunt augue vitae, porta.
        ol
          li Donec semper sem.
          li Praesent faucibus porta turpis
    li Nam vitae turpis interdum, ultricies.
    li Nullam sit amet massa vitae massa accumsan iaculis.

.dsc-card
  .dsc-card__head  Formatting Elements
  .dsc-card__body.
    #[a(href="") This is a text link] #[br]
    The #[strong strong element] is stylistically different text from normal text, without any special importance #[br]
    The #[b b element] is stylistically different text from normal text, without any special importance #[br]
    The #[i i element] is text that is set off from the normal text #[br]
    The #[em em element] is text that is set off from the normal text #[br]
    The #[u u element] is text with an unarticulated, though explicitly rendered, non-textual annotation #[br]
    #[del This text is deleted] and #[ins This text is inserted] #[br]
    #[s This text has a strike through] #[br]
    Superscript #[sup TM] #[br]
    Subscript for things like H#[sub 2]O #[br]
    Abbreviation: #[abbr(title="HyperText Markup Language")  HTML] #[br]
    Keybord input: #[kbd Cmd] #[br]
    #[cite This is a citation] #[br]
    The #[dfn dfn element] indicates a definition. #[br]
    The #[mark marked element] indicates a highlight #[br]
    #[code This is what inline code looks like.] #[br]
    8:00 #[span.unit h]

.dsc-card
  .dsc-card__head Tables
  .dsc-card__body.
    table
      caption Nunc nisl arcu, consequat ac mollis
      thead
        tr
          th Aenean
          th Nullam
          th Curabitur
          th Phasellus
          th Ptincidunt
      tbody
        tr
          td Praesent ornare
          td D4
          td Sed sed turpis
          td 14567
          td Nulla
        tr
          td Nulla facilisi
          td AV
          td Cras sit
          td 21240
          td Suspendisse
        tr
          td Interdum et
          td 6G
          td Curabitur
          td 12234
          td Phasellus
        tr
          td Ut vitae ipsum
          td BD
          td Curabitur
          td 32045
          td Nam in
      tfoot
        tr
          td Aenean pulvinar
          td I33
          td Donec ac porta libero
          td 124694
          td Qget