.dsc-section
  .dsc-section__head Input
  .dsc-section__body
    | Text #[br]
    input(type="text", placeholder="Text")
  .dsc-section__body
    | Password #[br]
    input(type="password", value="Password")
  .dsc-section__body
    | Search #[br]
    input(type="search", placeholder="Search")
  .dsc-section__body
    | Email #[br]
    input(type="email", placeholder="donec@congue.io")
  .dsc-section__body
    | Url #[br]
    input(type="url", placeholder="https://congue.io")
  .dsc-section__body
    | Number #[br]
    input(type="number", placeholder="0", step="10")
  .dsc-section__body
    | Date #[br]
    input(type="date")
  .dsc-section__body
    | Month #[br]
    input(type="month")
  .dsc-section__body
    | Week #[br]
    input(type="week")
  .dsc-section__body
    | Time #[br]
    input(type="time")
  .dsc-section__body
    | Datetime local #[br]
    input(type="datetime-local")
  .dsc-section__body
    | Color #[br]
    input(type="color", value="#ff0000")

.dsc-section
  .dsc-section__head Radio
  .dsc-section__body
    input(type="radio", name="radio")
    | Proin vitae varius justo #[br]
    input(type="radio", name="radio")
    | Suspendisse accumsan viverra #[br]
    input(type="radio", name="radio")
    | Donec congue at nibh at consequat

.dsc-section
  .dsc-section__head Checkbox
  .dsc-section__body
    input(type="checkbox", name="checkbox[]")
    | Proin vitae varius justo
    br
    input(type="checkbox", name="checkbox[]")
    | Suspendisse accumsan viverra
    br
    input(type="checkbox", name="checkbox[]")
    | Donec congue at nibh at consequat

.dsc-section
  .dsc-section__head Select
  .dsc-section__body
    select(placeholder="Fusce ut nulla")
      option Lorem ipsum dolo
      option Etiam mattis
      option Proin ornare
      option Nunc vestibulum

  .dsc-section__head Textarea
  .dsc-section__body
    textarea(cols="30", rows="10", placeholder="Cras in sem sit amet justo condimentum dignissim")

  .dsc-section__head Datalist (HTML5)
  .dsc-section__body
    datalist
      option(value="Quisque varius")
      option(value="Donec at ante")
      option(value="Curabitur efficitur")
      option(value="Etiam volutpat")
      option(value="Sed sit amet")
  .dsc-section_foot.
    Note: The datalist tag is not supported in Safari or IE9 (and earlier). Use a
    #[a(href="https://css-tricks.com/relevant-dropdowns-polyfill-for-datalist/", target="_blank") polifyfill].