if properties && properties.fonts
  for font in properties.fonts
    .dsc-section
      .dsc-section__head #{font['font-family']} #{font['font-weight']}
      .dsc-section__body
        .dsc-fonts
          .dsc-fonts__head Characters
          .dsc-fonts__body.dsc-fonts__body--medium(class= font.viewerClassName).
            A​‌B​‌C​‌Ć​‌Č​‌D​‌Đ​‌E​‌F​‌G​‌H​‌I​‌J​‌K​‌L​‌M​‌N​‌O​‌P​‌Q​‌R​‌S​‌Š​‌T​‌U​‌V​‌W​‌X​‌Y​‌Z​‌Ž​‌a​‌b​‌c​‌č​‌ć​‌d​‌đ​‌e​‌f​‌g​‌h​‌i​‌j​‌k​‌l​‌m​‌n​‌o​‌p​‌q​‌r​‌s​‌š​‌t​‌u​‌v​‌w​‌x​‌y​‌z​‌ž​‌1​‌2​‌3​‌4​‌5​‌6​‌7​‌8​‌9​‌0​‌‘​‌?​‌’​‌“​‌!​‌”​‌(​‌%​‌)​‌[​‌#​‌]​‌{​‌@​‌}​‌/​‌&​‌<​‌-​‌+​‌÷​‌×​‌=​‌>​‌®​‌©​‌$​‌€​‌£​‌¥​‌¢​‌:​‌;​‌,​‌.​‌*
        .dsc-fonts
          .dsc-fonts__head Large
          .dsc-fonts__body.dsc-fonts__body--large(class= font.viewerClassName).
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla diam massa.
        .dsc-fonts
          .dsc-fonts__head Medium
          .dsc-fonts__body.dsc-fonts__body--medium(class= font.viewerClassName).
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non ullamcorper est
            risus nec eros. Maecenas vitae mauris risus. Sed felis magna, varius eu gravida
            at, aliquam a eros? Ut a magna ac erat ullamcorper varius.
        .dsc-fonts
          .dsc-fonts__head Small
          .dsc-fonts__body.dsc-fonts__body--small(class= font.viewerClassName).
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a leo aliquam,
            sodales dolor in, ornare sapien. Ut malesuada ut sapien eu pulvinar. Etiam tempus
            lacus ut libero rutrum, congue aliquet nulla interdum. Maecenas venenatis, leo sed
            sollicitudin fermentum, sapien purus venenatis diam, id interdum enim lectus vitae
            tellus. Nulla tincidunt sodales mattis. Integer commodo felis nec ornare volutpat?
