.dsc-layout__off-canvas(:class="{'dsc-layout__off-canvas--hidden': fullscreen }")
  span.dsc-off-canvas__toggle(
    @click="toggle()",
    :class="{'dsc-off-canvas__toggle--open': fullscreen }"
    v-cloak)
  .dsc-off-canvas__head
    include ../../../svg/layer-background.svg
    h2 {{ description }}

  .dsc-off-canvas__pre-head
    .dsc-search
      input.dsc-search__input(type="search", :value="search", @input="updateSearch")
      include ../../../svg/search.svg
      button.dsc-search__clear(v-if="search", @click="clearSearch")
        include ../../../svg/backspace.svg

  .dsc-off-canvas__body(v-persist-scroll-pos="'dsc-off-canvas-body'")
    menu-container

  .dsc-off-canvas__footer
    | Version {{version}}
